# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- List popular commonly used libraries for Data Science
- List popular commonly used tools for Data Science

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Java
4. Javascript

Some of the commonly used libraries used by Data Scientists include:
1. Panda
2. Numpy
3. ggplot2
4. TensorFlow.js

|Data Science Tools|
|------------------|
|Jupyter Notebool|
|RStudio|
|VS Code|

### Below are a few examples of evaluating arithmetic expressions in Python.

In [4]:
(3*4)+5 #This a simple arithmetic expression to mutiply then add integers

17

In [2]:
200/60 # This will convert 200 minutes to hours by diving by 60

3.3333333333333335

## Author
Jie